@import "@/style/variables";

// BASE
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  font-family: League Spartan;
}

html,
body,
#app {
  height: 100%;
}

//LAYOUT
.page {
  height: 100%;
  padding: 40px;
  background: $backgroundColor-light;
}

.container {
  width: 800px;
  height: 100%;
  margin: 0px auto;
  padding: 20px;
  background-color: $backgroundColor-light;
}

// TYPOGRAPHY
.heading {
  font-size: 36px;
  font-weight: 700;
}
.text-large {
  font-size: 24px;
  font-weight: 700;
}
.text-medium {
  font-size: 15px;
  font-weight: 700;
  color: $default-font-color;
}
.text-small {
  font-size: 13px;
  font-weight: 500;
  color: $color-purple-dark;
}

.color-black {
  color: $default-font-color;
}
.color-white {
  color: #fff;
}
.color-purple {
  color: $color-purple-dark;
}
.color-orange {
  color: $color-orange;
}

// COMPONENTS
// (BUTTON)
.btn {
  border: none;
  border-radius: 99px;
  padding: 18px 24px;
  margin-left: 8px;
  font-size: 15px;
  font-weight: 700;
  transition: 0.3s;

  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  &-new {
    img {
      padding: 13px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
    span {
      margin-left: 32px;
    }
  }

  &--purple {
    background-color: $color-primary;
    color: #fff;

    &:hover,
    &:focus {
      background-color: $color-secondary;
    }
  }

  &--white {
    background-color: #f9fafe;
    color: $color-purple-midium;

    &:hover,
    &:focus {
      background-color: $color-purple-light;
    }
  }

  &--black {
    background-color: $color-black;
    color: $color-purple-dark;

    &:hover,
    &:focus {
      background-color: $default-font-color;
    }
  }

  &--red {
    background-color: $color-red-dark;
    color: #fff;

    &:hover,
    &:focus {
      background-color: $color-red-light;
    }
  }
}

// (OTHERS)
.item-id::before {
  content: "#";
  color: $color-purple-midium;
}

.item-status {
  width: 100px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  text-transform: capitalize;

  &::before {
    content: "";
    display: inline-block;
    border: solid 5px black;
    border-radius: 50%;
  }

  &--paid {
    background-color: rgba($color-green, 0.06);
    color: $color-green;

    &::before {
      border-color: $color-green;
    }
  }
  &--pending {
    background-color: rgba($color-orange, 0.06);
    color: $color-orange;

    &::before {
      border-color: $color-orange;
    }
  }
  &--draft {
    background-color: rgba($color-black, 0.06);
    color: $color-black;

    &::before {
      border-color: $color-black;
    }
  }
}
